@model ProjectManagement.Model.Audit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Audit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuditId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
