@model IEnumerable<ProjectManagementBusinessObjects.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Comments</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.taskId">Add Comment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Timestamp
            </th>
            <th>
                Comment
            </th>
            <th>
                Commenter
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @if (item.UserId == ViewBag.userId){
                        <a class="mx-3" asp-action="Edit" asp-route-id="@item.CommentId">Edit</a>
                        <a class="mx-3" asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-controller="Tasks" asp-action="Index" asp-route-id="@ViewBag.projectId">Back to Tasks</a>