@model IEnumerable<ProjectManagementBusinessObjects.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Project Manager
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectManager.Email)
            </td>
            <td>
                    <a class="mx-3" asp-action="Dashboard" asp-route-id="@item.ProjectId">Dashboard</a>
                    <a class="mx-3" asp-controller="Tasks" asp-action="Index" asp-route-id="@item.ProjectId">Tasks</a>
                    <a class="mx-3" asp-controller="ProjectMembers" asp-action="Index" asp-route-id="@item.ProjectId">Members</a>
                    @if (item.ProjectManagerId == ViewBag.userId)
                    {
                        <a class="mx-3" asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a>
                        <a class="mx-3" asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
