@model IEnumerable<ProjectManagementBusinessObjects.Document>

@{
    ViewData["Title"] = "Index";
}

<h1>Documents</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@ViewBag.taskId">Add document</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Document Name
            </th>
            <th>
                Upload Time
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Uploader
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                    <a href="\@item.Path" target="_blank" class="mx-3">View</a>
                    <a href="\@item.Path" download class="mx-3">Download</a>
                    @if (item.UserId == ViewBag.userId)
                    {
                        <a class="mx-3" asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Tasks" asp-action="Index" asp-route-id="@ViewBag.projectId">Back to Tasks</a>
