@model IEnumerable<ProjectManagementBusinessObjects.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

@if (ViewBag.managerId == ViewBag.userId)
{
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.projectId">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Assigned User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                    <a class="mx-3" asp-action="Details" asp-route-id="@item.TaskId">Details</a>
                    @if (item.UserId == ViewBag.userId || item.Project.ProjectManagerId == ViewBag.userId)
                    {
                        <a class="mx-3" asp-action="UpdateStatus" asp-route-id="@item.TaskId">Update Status</a>
                    }
                    @if (item.Project.ProjectManagerId == ViewBag.userId)
                    {
                        <a class="mx-3" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a>
                        <a class="mx-3" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
